 @import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.title{
  letter-spacing: 3px;
  font-family: Amatic Sc;
  font-size:37px ;
  margin-left: 20px;
 }

.page{
  margin-top: 10px;
}

#lsf{
  width: 400px;
}

.gift{
  display:flex ;
}

.left-section > img{
  height: 350px;
  background-color: lightcyan;
}

.right-section{
  background-color: rgb(252, 231, 241);
  width: 350px;
  padding: 20px;
}